<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="css/{% block page %}{% endblock %}.css">
</head>
<body>
<nav>
    <span><a href="{{ path('app_index') }}">Domu</a></span>
    <span><a href="{{ path('app_groups') }}">Skupiny</a></span>
    <span><a href="{{ path('app_rooms') }}">Mistnosti</a></span>
    <span><a href="{{ path('app_register') }}">Registrace</a></span>
    <span><a href="{{ path('app_login') }}">Prihlaseni</a></span>
    <span><a href="{{ path('app_users') }}">Uzivatele</a></span>
    <span><a href="{{ path('app_managed_reservations') }}">Sprava rezervaci</a></span>
</nav>
{% block content %}{% endblock %}
</body>
</html>
