<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rezervační systém učeben{% endblock %}</title>

    <link rel="stylesheet" href="/css/{% block page %}{% endblock %}.css">
</head>
<body>
<header>
    <nav>
        <span><a href="{{ path('app_index') }}">Domů</a></span>
        <span><a href="{{ path('app_rooms') }}">Učebny</a></span>
        {% if is_granted('IS_AUTHENTICATED') %}
            <span><a href="{{ path('app_users') }}">Uživatelé</a></span>
            <span><a href="{{ path('app_managed_reservations') }}">Žádosti ke schválení</a></span>
            {% if is_granted('ROLE_ADMIN') %}
                <span><a href="{{ path('app_groups') }}">Správa skupin místností</a></span>
            {% endif %}
        {% endif %}
    </nav>

    <div class="user-info">
        {% if is_granted('IS_AUTHENTICATED') %}
            <p>Jste přihlášen jako <b>{{ app.user.name }}</b> ({{ app.user.email }})</p>
            <a href="{{ path('app_logout') }}">Odhlásit se</a>
        {% else %}
            <p>Nejste přihlášen</p>
            <a href="{{ path('app_login') }}">Přihlásit se</a>
            <!-- <a href="{{ path('app_register') }}">Vytvořit účet</a> -->
        {% endif %}
    </div>

    {% for flashType, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ flashType }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
