{% extends 'base.html.twig' %}

{% block title %}Skupina {{ group.name }}{% endblock %}

{% block content %}
    <h1>Skupina {{ group.name }}</h1>
    <u><b>Nadřazená skupina:</b></u>
    <span>
        {% if group.parent %}
            <a href="{{ path('app_group', {'id': group.parent.id}) }}">{{ group.parent.name }}</a>
        {% else %}
            ---
        {% endif %}
    </span>

    <h3><u>Správci:</u></h3>
    <table>
        <thead>
        <tr>
            <th>Jméno</th>
            <th><img class="fa" src="/images/trash-red.svg" alt="trash"></th>
        </tr>
        </thead>
        <tbody>
        {% for manager in group.managers %}
            <tr id="manager-{{ manager.id }}">
                <td>
                    <a href="/users/{{ manager.id }}">TODO: {{ manager.name }}</a>
                </td>
                <td>
                    <img class="wide a" src="/images/trash-red.svg" alt="trash"
                        onclick="deleteManagerFromGroup({{ group.id }}, '{{ group.name }}', {{ manager.id }}, '{{ manager.name }}')">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3><u>Členové:</u></h3>
    <table>
        <thead>
        <tr>
            <th>Jméno</th>
            <th><img class="fa" src="/images/trash-red.svg" alt="trash"></th>
        </tr>
        </thead>
        <tbody>
        {% for member in group.members %}
            <tr id="member-{{ member.id }}">
                <td>
                    <a href="/users/{{ member.id }}">TODO: {{ member.name }}</a>
                </td>
                <td>
                    <img class="wide a" src="/images/trash-red.svg" alt="trash"
                         onclick="deleteMemberFromGroup({{ group.id }}, '{{ group.name }}', {{ member.id }}, '{{ member.name }}')">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3><u>Místnosti:</u></h3>
    <ul>
        {% for room in group.rooms %}
            <li><a href="{{ path('app_room', {'id': room.id}) }}">{{ room.getFullName() }}</a></li>
        {% endfor %}
    </ul>

    <h3><u>Podskupiny:</u></h3>
    <ul>
        {% for subgroup in group.childGroups %}
            <li><a href="{{ path('app_group', {'id': subgroup.id}) }}">{{ subgroup.name }}</a></li>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_ADMIN') %}
        <form action="{{ path('app_group_new_admin_or_user', {'groupId' : group.id}) }}" method="post">
            <h4>Přidat správce/člena</h4>
            <div class="form-fields">
                <label for="user_name">Vyberte uživatele:</label>
                <select name="_user_name" id="parent_group">
                    <option value="-1">-----</option>
                    {% for user in users | sort((a, b) => a.name <=> b.name) %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </select>

                <label for="role_option">Vyberte roli:</label>
                <select name="_role_option" id="parent_group">
                    <option value="-1">Žádná</option>
                    <option value="1">Správce</option>
                    <option value="2">Člen</option>
                </select>
            </div>
            <button type="submit">Přidat člena/správce</button>
        </form>

        <script>
            function deleteManagerFromGroup(groupId, groupName, managerId, managerName) {
                if (confirm(`Skutečně chcete pro uživatele ${managerName} smazat skupinu ${groupName}?`)) {
                    fetch(`/api/groups/${groupId}/managers/${managerId}`, {
                        method: 'DELETE',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: {}
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error(`Nepodařilo se smazat skupinu ${groupName} pro uživatele ${managerName}: ${response.statusText}`);
                        }

                        if (response.status === 204) {
                            return null;
                        }

                        console.warn(`Špatný návratový kód: ${response.status}`);
                        return null;
                    }).then(_ => {
                        console.log(`Skupina ${groupName} byla úspěšně smazána z uživatele ${managerName}.`);
                        document.getElementById(`manager-${managerId}`).remove();
                    }).catch(error => {
                        console.error(`Chyba při mazání skupiny ${groupName}: ${error.message}`)
                    })
                }
            }

            function deleteMemberFromGroup(groupId, groupName, memberId, memberName) {
                if (confirm(`Skutečně chcete pro uživatele ${memberName} smazat skupinu ${groupName}?`)) {
                    fetch(`/api/groups/${groupId}/members/${memberId}`, {
                        method: 'DELETE',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: {}
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error(`Nepodařilo se smazat skupinu ${groupName} pro uživatele ${memberName}: ${response.statusText}`);
                        }

                        if (response.status === 204) {
                            return null;
                        }

                        console.warn(`Špatný návratový kód: ${response.status}`);
                        return null;
                    }).then(_ => {
                        console.log(`Skupina ${groupName} byla úspěšně smazána z uživatele ${memberName}.`);
                        document.getElementById(`member-${memberId}`).remove();
                    }).catch(error => {
                        console.error(`Chyba při mazání skupiny ${groupName}: ${error.message}`)
                    })
                }
            }
        </script>
    {% endif %}
{% endblock %}
