{% extends 'base.html.twig' %}

{% block title %}Správa skupin{% endblock %}

{% block js %}
    <script src="/js/groups.js" defer></script>
{% endblock %}

{% block content %}
    <h1>Správa skupin</h1>

    <table>
        <thead>
        <tr>
            {% if is_granted('ROLE_ADMIN') %}
                <th class="id-col">ID</th>
            {% endif %}
            <th>Skupina</th>
            <th>Nadřazená skupina</th>
            <th>Akce</th>
        </tr>
        </thead>
        {% for group in groups
            | sort((a, b) => a.name <=> b.name)
            | sort((a, b) => (a.parent ? 1 : 0) <=> (b.parent ? 1 : 0)) %} <!-- groups without parent come first-->
            <tr id="group-{{ group.id }}">
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="id-col">{{ group.id }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_group', {'id': group.id }) }}"><b>{{ group.name }}</b></a>
                </td>
                <td>
                    {% if group.parent %}
                        <a href="{{ path('app_group', {'id': group.parent.id}) }}">{{ group.parent.name }}</a>
                    {% else %}
                        <span class="extra">žádná</span>
                    {% endif %}
                </td>
                <td>
                    <button class="danger" onclick="deleteGroup({{ group.id }}, '{{ group.name }}')">
                        <img class="wide a" src="/images/trash-red.svg" alt="Odebrat skupinu">
                        <span>Odebrat</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td colspan="4" class="center"><a id="new-group-button" href="#">Přidat skupinu</a></td>
            </tr>
        {% endif %}
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <div id="new-group-modal" class="modal-shade">
            <form class="modal-window" action="{{ path('app_groups_new') }}" method="post">
                <h2>Nová skupina</h2>
                <div class="form-fields">
                    <label for="group_name">Název skupiny:</label>
                    <input type="text" id="group_name" name="_group_name" required>

                    <label for="parent_group">Nadřazená skupina</label>
                    <select name="_parent_group" id="parent_group">
                        <option value="-1">Žádná</option>
                        {% for existingGroup in groups | sort((a, b) => a.name <=> b.name) %}
                            <option value="{{ existingGroup.id }}">{{ existingGroup.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Vytvořit skupinu</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
