{% extends 'base.html.twig' %}

{% block title %}Správa skupin místností{% endblock %}

{% block content %}
    <h1>Správa skupin místností</h1>

    <table>
        <thead>
        <tr>
            <th>Skupina</th>
            <th>Nadřazená skupina</th>
            <th><img class="fa" src="/images/trash-red.svg" alt="delete group"></th>
        </tr>
        </thead>
        {% for group in groups
            | sort((a, b) => a.name <=> b.name)
            | sort((a, b) => (a.parent ? 1 : 0) <=> (b.parent ? 1 : 0)) %} <!-- groups without parent come first-->
            <tr id="group-{{ group.id }}">
                <td>
                    <a href="{{ path('app_group', {'id': group.id }) }}">{{ group.name }}</a>
                </td>
                <td>
                    {% if group.parent %}
                        <a href="{{ path('app_group', {'id': group.parent.id}) }}">{{ group.parent.name }}</a>
                    {% else %}
                        ---
                    {% endif %}
                </td>
                <td>
                    <img class="wide a" src="/images/trash-red.svg" alt="delete group"
                         onclick="deleteGroup({{ group.id }}, '{{ group.name }}')">
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <script>
            function deleteGroup(groupId, groupName) {
                if (confirm(`Skutečně chcete smazat skupinu ${groupName}?`)) {
                    fetch(`/api/groups/${groupId}`, {
                        method: 'DELETE',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: {}
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error(`Nepodařilo se smazat skupinu ${groupName}: ${response.statusText}`);
                        }

                        if (response.status === 204) {
                            return null;
                        }

                        console.warn(`Špatný návratový kód: ${response.status}`);
                        return null;
                    }).then(_ => {
                        console.log(`Skupina ${groupName} byla úspěšně smazána.`);
                        document.getElementById(`group-${groupId}`).remove();
                    }).catch(error => {
                        console.error(`Chyba při mazání skupiny ${groupName}: ${error.message}`)
                    })
                }
            }
        </script>

        <form action="{{ path('app_groups_new') }}" method="post">
            <h4>Nová skupina</h4>
            <div class="form-fields">
                <label for="group_name">Název skupiny:</label>
                <input type="text" id="group_name" name="_group_name" required>

                <label for="parent_group">Nadřazená skupina</label>
                <select name="_parent_group" id="parent_group">
                    <option value="-1">Žádná</option>
                    {% for existingGroup in groups | sort((a, b) => a.name <=> b.name) %}
                        <option value="{{ existingGroup.id }}">{{ existingGroup.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Vytvořit skupinu</button>
        </form>
    {% endif %}
{% endblock %}
