{% extends 'base.html.twig' %}

{% block title %}Žádosti ke schválení{% endblock %}

{% block content %}

    <h1>
        {% if is_granted('ROLE_ADMIN') %}
            Všechny žádosti a rezervace
        {% else %}
            Žádosti a rezervace pod mojí správou
        {% endif %}
    </h1>

    <h2>Žádosti ke schválení</h2>

    {% if managedReservations.toApprove is empty %}
        <p>Na schválení aktuálně nečekají žádné žádosti o rezervace učeben pod vaší správou.</p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Číslo rezervace</th>
                <th>Učebna</th>
                <th>Rezervováno od</th>
                <th>Rezervováno do</th>
                <th>Vytvořil</th>
                <th>Na jméno</th>
                <th>Počet osob</th>
                <th colspan="2">Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in managedReservations.toApprove %}
                <tr id="reservation-{{ reservation.id }}">
                    <td>#{{ reservation.id }}</td>
                    <td>{{ reservation.room.building }}:<b>{{ reservation.room.name }}</b></td>
                    <td>{{ reservation.timeFrom | date('d. m. Y H:i') }}</td>
                    <td>{{ reservation.timeTo | date('d. m. Y H:i') }}</td>
                    <td>{{ reservation.author.name }}</td>
                    <td>{{ reservation.responsibleUser.name }}</td>
                    <td>{{ reservation.invitedUsers | length }}</td>
                    <td><a href="{{ path('app_reservations_approve', {'reservationId': reservation.id}) }}">Schválit</a>
                    </td>
                    <td><span class="a"
                              onclick="deleteReservation({{ reservation.id }}, '{{ reservation.room.getFullName() }}',
                                      '{{ reservation.timeFrom | date('d. m. Y H:i') }}')">
                            Zamítnout a smazat</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Schválené rezervace pod mojí správou</h2>

    <h3>Právě probíhající rezervace</h3>

    {% if managedReservations.approvedCurrent is empty %}
        <p>Aktuálně neprobíhají žádné rezervace učeben pod vaší správou.</p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Číslo rezervace</th>
                <th>Učebna</th>
                <th>Rezervováno od</th>
                <th>Rezervováno do</th>
                <th>Vytvořil</th>
                <th>Na jméno</th>
                <th>Počet osob</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in managedReservations.approvedCurrent %}
                <tr>
                    <td>#{{ reservation.id }}</td>
                    <td>{{ reservation.room.building }}:<b>{{ reservation.room.name }}</b></td>
                    <td>{{ reservation.timeFrom | date('d. m. Y H:i') }}</td>
                    <td>{{ reservation.timeTo | date('d. m. Y H:i') }}</td>
                    <td>{{ reservation.author.name }}</td>
                    <td>{{ reservation.responsibleUser.name }}</td>
                    <td>{{ reservation.invitedUsers | length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h3>Nadcházející rezervace</h3>

    {% if managedReservations.approvedComing is empty %}
        <p>Nejsou naplánovány žádné rezervace učeben pod vaší správou.</p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Číslo rezervace</th>
                <th>Učebna</th>
                <th>Rezervováno od</th>
                <th>Rezervováno do</th>
                <th>Vytvořil</th>
                <th>Na jméno</th>
                <th>Počet osob</th>
                <th><img class="fa" src="/images/trash-red.svg" alt="delete managed reservation"></th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in managedReservations.approvedComing %}
                <tr id="reservation-{{ reservation.id }}">
                    <td>#{{ reservation.id }}</td>
                    <td>{{ reservation.room.building }}:<b>{{ reservation.room.name }}</b></td>
                    <td>{{ reservation.timeFrom | date('d. m. Y H:i') }}</td>
                    <td>{{ reservation.timeTo | date('d. m. Y H:i') }}</td>
                    <td>{{ reservation.author.name }}</td>
                    <td>{{ reservation.responsibleUser.name }}</td>
                    <td>{{ reservation.invitedUsers | length }}</td>
                    <td>
                        <img class="wide a" src="/images/trash-red.svg" alt="delete managed reservation"
                             onclick="deleteReservation({{ reservation.id }}, '{{ reservation.room.getFullName() }}',
                                     '{{ reservation.timeFrom | date('d. m. Y H:i') }}')">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h3>Proběhlé rezervace</h3>

    {% if managedReservations.approvedPast is empty %}
        <p>Zatím neproběhly žádné rezervace učeben pod vaší správou.</p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Číslo rezervace</th>
                <th>Učebna</th>
                <th>Rezervováno od</th>
                <th>Rezervováno do</th>
                <th>Vytvořil</th>
                <th>Na jméno</th>
                <th>Počet osob</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in managedReservations.approvedPast %}
                <tr>
                    <td>#{{ reservation.id }}</td>
                    <td>{{ reservation.room.building }}:<b>{{ reservation.room.name }}</b></td>
                    <td>{{ reservation.timeFrom | date('d. m. Y H:i') }}</td>
                    <td>{{ reservation.timeTo | date('d. m. Y H:i') }}</td>
                    <td>{{ reservation.author.name }}</td>
                    <td>{{ reservation.responsibleUser.name }}</td>
                    <td>{{ reservation.invitedUsers | length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <script>
            function deleteReservation(reservationId, reservationRoom, reservationStart) {
                if (confirm(`Skutečně chcete smazat rezervaci do učebny ${reservationRoom} na čas ${reservationStart}?`)) {
                    fetch(`/api/reservations/${reservationId}`, {
                        method: 'DELETE',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: {}
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error(`Nepodařilo se smazat rezervaci ${reservationRoom}: ${response.statusText}`);
                        }

                        if (response.status === 204) {
                            return null;
                        }

                        console.warn(`Špatný návratový kód: ${response.status}`);
                        return null;
                    }).then(_ => {
                        console.log(`Rezervace do učebny ${reservationRoom} na čas ${reservationStart} byla úspěšně smazána.`);
                        document.getElementById(`reservation-${reservationId}`).remove();
                    }).catch(error => {
                        console.error(`Chyba při mazání rezervace ${reservationRoom}: ${error.message}`)
                    })
                }
            }
        </script>
    {% endif %}

{% endblock %}
