{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block page %}profile{% endblock %}

{% block content %}
    <h1>Uživatelský profil {{ user.name }} ({{ user.email }})</h1>
    <div class="form-block">
        <form action="{{ path('app_change_user_name') }}" method="post">
            <h4>Změnit jméno</h4>
            <div class="form-fields">
                <label>Původní jméno</label>
                <span>{{ user.name }}</span>

                <label for="name">Nové jméno</label>
                <input type="text" id="name" name="_name" value="" required>
            </div>

            <button type="submit">Změnit jméno</button>
        </form>
        <form action="{{ path('app_change_user_email') }}" method="post">
            <h4>Změnit email</h4>
            <div class="form-fields">
                <label>Starý email</label>
                <span>{{ user.email }}</span>

                <label for="email">Nový email</label>
                <input type="email" id="email" name="_email" value="" required>
            </div>

            <button type="submit">Změnit email</button>
        </form>
        <form id="changePassword" action="{{ path('app_change_user_password') }}" method="post">
            <h4>Změnit heslo</h4>
            <div class="form-fields">
                <label for="old-password">Staré heslo</label>
                <input type="password" id="old-password" name="_old_password" value="" required>

                <label for="new-password">Nové heslo</label>
                <input type="password" id="new-password" name="_new_password" value="" required>

                <label for="confirm-password">Potvrdit heslo</label>
                <input type="password" id="confirm-password" name="_confirm_password" value="" required>
            </div>

            <button type="submit">Změnit heslo</button>
        </form>

        <script>
            document.getElementById('changePassword').addEventListener('submit', function (event) {
                    let password = document.getElementById('new-password').value;
                    let confirm_password = document.getElementById('repeat-password').value;

                    if (password !== confirm_password) {
                        alert('Hesla se neshodují.');
                        event.preventDefault();
                    }
                }
            )
        </script>
    </div>
{% endblock %}
