{% extends 'base.html.twig' %}

{% block title %}Učebny{% endblock %}

{% block content %}
    <h1>Učebny</h1>

    {% if rooms is empty %}

        <p>Nebyly nalezeny žádné učebny. Pro zobrazení neveřejných učeben je potřeba být přihlášen správným účtem.</p>

    {% else %}

        <table>
            <thead>
            <tr>
                <th>Učebna</th>
                <th>Stav</th>
                <th>Přístupnost</th>
                <th>Mám přístup</th>
                <th>Akce</th>
                <th><img class="fa" src="/images/trash-red.svg" alt="trash"></th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms | sort((a, b) => a.fullName <=> b.fullName) %}
                <tr id="room-{{ room.id }}">
                    <td>
                        <a href="{{ path('app_room', {'id': room.id}) }}">{{ room.building }}:<b>{{ room.name }}</b></a>
                    </td>
                    <td>
                        {% if currentAvailabilityMap[room.id] %}
                            Volná
                        {% else %}
                            Obsazená
                        {% endif %}
                    </td>
                    <td>
                        {% if room.public %}
                            Veřejná
                        {% else %}
                            Soukromá{% if room.group %} (spravuje {{ room.group.name }}){% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if room in bookableRooms %}
                            &#10003;
                        {% else %}
                            &#10007;
                        {% endif %}
                    </td>
                    <td>
                        {% if room in bookableRooms or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_book', {'room': room.id}) }}">
                                Rezervovat{% if room in manageableRooms or is_granted('ROLE_ADMIN') %} jako správce{% endif %}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <img class="wide a" src="/images/trash-red.svg" alt="trash"
                             onclick="deleteRoom({{ room.id }}, '{{ room.getFullName() }}')">

                    </td>
                </tr>
            {% endfor %}
            <script>
                function deleteRoom(roomId, roomName) {
                    if (confirm(`Skutečně chcete smazat místnost ${roomName}?`)) {
                        fetch(`/api/rooms/${roomId}`, {
                            method: 'DELETE',
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: {}
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error(`Nepodařilo se smazat místnost ${roomName}: ${response.statusText}`);
                            }

                            if (response.status === 204) {
                                return null;
                            }

                            console.warn(`Špatný návratový kód: ${response.status}`);
                            return null;
                        }).then(_ => {
                            console.log(`Místnost ${roomName} byla úspěšně smazána.`);
                            document.getElementById(`room-${roomId}`).remove();
                        }).catch(error => {
                            console.error(`Chyba při mazání místnosti ${roomName}: ${error.message}`)
                        })
                    }
                }
            </script>
            </tbody>
        </table>

    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <form action="{{ path('app_create_room') }}" method="post">
            <h4>Nová místnost</h4>
            <div class="form-fields">
                <label for="building_name">Název budovy:</label>
                <input type="text" id="building_name" name="_building_name"
                       value="{{ previous_input.building_name | default('') }}" required>

                <label for="room_name">Název místnosti:</label>
                <input type="text" id="room_name" name="_room_name"
                       value="{{ previous_input.room_name | default('') }}" required>

                <label for="is_public">Veřejná?</label>
                <input type="checkbox" id="is_public" name="_is_public"
                       {% if previous_input is defined and previous_input.is_public == 1 %}checked{% endif %}>
            </div>
            <button type="submit">Vytvořit místnost</button>
        </form>
    {% endif %}

{% endblock %}
