{% extends 'base.html.twig' %}

{% block title %}Učebna {{ room.getFullName() }}{% endblock %}

{% block page %}room{% endblock %}

{% block content %}
    <h1>Učebna {{ room.getFullName() }}</h1>
    <div class="form-block">
        <section class="info">
            <span>Budova:</span>
            <span>{{ room.building }}</span>

            <span>Místnost:</span>
            <span>{{ room.name }}</span>

            <span>Stav:</span>
            <span>{% if is_occupied %}Obsazená{% else %}Volná{% endif %}</span>

            <span>Dostupnost</span>
            <span>
                {% if room.isPublic %}
                    Veřejná
                {% else %}
                    Soukromá
                    {% if room.group %}
                        (spravuje {{ room.group.name }})
                    {% endif %}
                {% endif %}
            </span>

            <span>Mám přístup?</span>
            <span>{% if is_bookable %}Ano{% else %}Ne{% endif %}</span>

            {% if is_bookable or is_granted('ROLE_ADMIN') %}
                <span>Rezervace</span>
                <a href="{{ path('app_book', {'room': room.id}) }}">
                    Rezervovat{% if is_manageable or is_granted('ROLE_ADMIN') %} jako správce{% endif %}
                </a>
            {% endif %}
        </section>

        {% if is_granted('ROLE_ADMIN') %}
            <form action="{{ path('app_room_change_room', {'id': room.id}) }}" method="post">
                <h4>Změnit místnost</h4>
                <div class="form-fields">
                    <label for="room">Nová místnost:</label>
                    <input type="text" id="room" name="_room" required>
                </div>

                <button type="submit">Změnit místnost</button>
            </form>

            <form action="{{ path('app_room_change_building', {'id': room.id}) }}" method="post">
                <h4>Změnit budovu</h4>
                <div class="form-fields">
                    <label for="building">Nová budova</label>
                    <input type="text" id="building" name="_building" required>
                </div>

                <button type="submit">Změnit budovu</button>
            </form>

            <form action="{{ path('app_room_change_availability_for_the_public', {'id': room.id}) }}" method="post">
                <h4>Změnit přístupnost pro veřejnost</h4>
                <div class="form-fields">
                    <label for="is_public">Veřejná?</label>
                    <input type="checkbox" id="is_public" name="_is_public">
                </div>

                <button type="submit">Změnit přístupnost pro veřejnost</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
