{% extends 'base.html.twig' %}

{% block title %}Učebny{% endblock %}

{% block content %}
    <h1>Učebny</h1>

    {% if rooms is empty %}

        <p>Nebyly nalezeny žádné učebny. Pro zobrazení neveřejných učeben je potřeba být přihlášen správným účtem.</p>

    {% else %}

        <table>
            <thead>
            <tr>
                <th>Učebna</th>
                <th>Stav</th>
                <th>Přístupnost</th>
                <th>Mám přístup</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms | sort((a, b) => a.fullName <=> b.fullName) %}
                <tr>
                    <td>
                        <a href="{{ path('app_room', {'id': room.id}) }}">{{ room.building }}:<b>{{ room.name }}</b></a>
                    </td>
                    <td>
                        {% if currentAvailabilityMap[room.id] %}
                            Volná
                        {% else %}
                            Obsazená
                        {% endif %}
                    </td>
                    <td>
                        {% if room.public %}
                            Veřejná
                        {% else %}
                            Soukromá{% if room.group %} (spravuje {{ room.group.name }}){% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if room in bookableRooms %}
                            &#10003;
                        {% else %}
                            &#10007;
                        {% endif %}
                    </td>
                    <td>
                        {% if room in bookableRooms or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_book', {'room': room.id}) }}">
                                Rezervovat{% if room in manageableRooms or is_granted('ROLE_ADMIN') %} jako správce{% endif %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <form action="{{ path('app_create_room') }}" method="post">
            <h4>Nová místnost</h4>
            <div class="form-fields">
                <label for="building_name">Název budovy:</label>
                <input type="text" id="building_name" name="_building_name"
                       value="{{ previous_input.building_name | default('') }}" required>

                <label for="room_name">Název místnosti:</label>
                <input type="text" id="room_name" name="_room_name"
                       value="{{ previous_input.room_name | default('') }}" required>

                <label for="is_public">Veřejná?</label>
                <input type="checkbox" id="is_public" name="_is_public"
                       {% if previous_input is defined and previous_input.is_public == 1 %}checked{% endif %}>
            </div>
            <button type="submit">Vytvořit místnost</button>
        </form>
    {% endif %}

{% endblock %}
