{% extends 'base.html.twig' %}

{% block title %}Uživatelé{% endblock %}

{% block content %}
    <h1>Uživatelé</h1>

    <table>
        <thead>
        <tr>
            {% if is_granted("ROLE_ADMIN") %}
                <th>ID</th>
            {% endif %}
            <th>Jméno</th>
            <th>E-mail</th>
            {% if is_granted("ROLE_ADMIN") %}
                <th>Role</th>
                <th><img class="fa" src="/images/trash-red.svg" alt="trash"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr id="user-{{ user.id }}">
                {% if is_granted("ROLE_ADMIN") %}
                    <th>{{ user.id }}</th>
                {% endif %}
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>{{ user.roles | join(", ") }}</td>
                    <td>
                        <img class="wide a" src="/images/trash-red.svg" alt="trash"
                             onclick="deleteUser({{ user.id }}, '{{ user.name }}')">
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        <script>
            function deleteUser(userId, userName) {
                if (confirm(`Skutečně chcete smazar uživatele ${userName}?`)) {
                    fetch(`/api/users/${userId}`, {
                        method: 'DELETE',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: {}
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error(`Nepodařilo se smazat uživatele ${userName}: ${response.statusText}`);
                        }

                        if (response.status === 204) {
                            return null;
                        }

                        console.warn(`Špatný návratový kód: ${response.status}`);
                        return null;
                    }).then(_ => {
                        console.log(`Uživatel ${userName} byl úspěšně smazán.`);
                        document.getElementById(`user-${userId}`).remove();
                    }).catch(error => {
                        console.error(`Chyba při mazání uživatele ${userName}: ${error.message}`)
                    })
                }
            }
        </script>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <form id="addUser" action="{{ path('app_admin_create_user') }}" method="post">
            <h4>Nový uživatel</h4>
            <div class="form-fields">
                <label for="username">Uživatelské jméno:</label>
                <input type="text" id="username" name="_username"
                       value="{{ previous_input.username | default('') }}" required>

                <label for="email">Email:</label>
                <input type="text" id="email" name="_email"
                       value="{{ previous_input.email | default('') }}" required>

                <label for="password">Heslo:</label>
                <input type="password" id="password" name="_password"
                       value="{{ previous_input.password | default('') }}" required>

                <label for="confirm_password">Potvrdit heslo:</label>
                <input type="password" id="confirm_password" name="_confirm_password"
                       value="{{ previous_input.confirm_password | default('') }}" required>
            </div>
            <button type="submit">Vytvořit uživatele</button>
        </form>

        <script>
            document.getElementById('addUser').addEventListener('submit', function (event) {
                    let password = document.getElementById('password').value;
                    let confirm_password = document.getElementById('confirm_password').value;

                    if (password !== confirm_password) {
                        alert('Hesla se neshodují.');
                        event.preventDefault();
                    }
                }
            )
        </script>
    {% endif %}
{% endblock %}
