{% extends 'base.html.twig' %}

{% block title %}Uživatelé{% endblock %}

{% block page %}users{% endblock %}

{% block content %}
    <h1>Uživatelé</h1>

    <table>
        <thead>
        <tr>
            {% if is_granted("ROLE_ADMIN") %}
                <th>Id</th>
            {% endif %}
            <th>Name</th>
            <th>Email</th>
            {% if is_granted("ROLE_ADMIN") %}
                <th>Roles</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>{{ user.id }}</th>
                {% endif %}
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>{{ user.roles | join(", ") }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <form id="addUser" action="{{ path('app_admin_create_user') }}" method="post">
            <label for="username">Uživatelské jméno:</label>
            <input type="text" id="username" name="_username"
                   value="{{ previous_input.username | default('') }}" required>

            <label for="email">Email:</label>
            <input type="text" id="email" name="_email"
                   value="{{ previous_input.email | default('') }}" required>

            <label for="password">Heslo:</label>
            <input type="password" id="password" name="_password"
                   value="{{ previous_input.password | default('') }}" required>

            <label for="confirm_password">Potvrdit heslo:</label>
            <input type="password" id="confirm_password" name="_confirm_password"
                   value="{{ previous_input.confirm_password | default('') }}" required>

            <button type="submit">Vytvořit uživatele</button>
        </form>

        <script>
            document.getElementById('addUser').addEventListener('submit', function (event) {
                    let password = document.getElementById('password').value;
                    let confirm_password = document.getElementById('confirm_password').value;

                    if (password !== confirm_password) {
                        alert('Hesla se neshodují.');
                        event.preventDefault();
                    }
                }
            )
        </script>
    {% endif %}
{% endblock %}
